<%= form_for([@customer, @saiken]) do |f| %>
  <% if @saiken.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saiken.errors.count, "error") %> prohibited this saiken from being saved:</h2>

      <ul>
      <% @saiken.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br />
    <%= @customer.name %>
  </div>
  <div class="field">
    <%= f.label :creditor_id %><br />
    <%= f.select :creditor_id, @creditors.collect{|creditor|[creditor.name, creditor.id]} %>
  </div>
  <div class="field">
    <%= f.label :wakai_gaku %><br />
    <%= f.number_field :wakai_gaku %>
  </div>

  <div class="field">
    <%= f.label :payment_type %><br />
    <%= f.radio_button :payment_type, 0  %> <%= Saiken.payment_str(0) %>
    <%= f.radio_button :payment_type, 1  %>　<%= Saiken.payment_str(1) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
