<h1>Listing saikens</h1>

<table class="saiken_table table">
  <tr>
    <th>Customer</th>
    <th>Creditor</th>
    <th>Wakai gaku</th>
    <th></th>
  </tr>

<% @saikens.each do |saiken| %>
  <tr>
    <td><%= saiken.customer.name %></td>
    <td><%= saiken.creditor.simple_name %></td>
    <td><%= saiken.wakai_gaku %></td>
    <td>
        <%= link_to customer_saiken_url(@customer, saiken) do %>
          <button type="button" class="btn btn-info saiken_show">
            <span class="glyphicon glyphicon-eye-open"></span>
          </button>
        <% end %>
          
        <%= link_to edit_customer_saiken_path(@customer, saiken) do %>
          <button type="button" class="btn btn-info saiken_edit">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        <% end %>
      
        <%= link_to customer_saiken_url(@customer, saiken), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <button type="button" class="btn btn-danger saiken_destroy">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        <% end %>

    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Saiken', new_customer_saiken_path(@customer) %>

<%= link_to 'Back', customers_path %>