<h1>Listing saikens</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Creditor</th>
    <th>Wakai gaku</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @saikens.each do |saiken| %>
  <tr>
    <td><%= saiken.customer.name %></td>
    <td><%= saiken.creditor.simple_name %></td>
    <td><%= saiken.wakai_gaku %></td>
    <td><%= link_to 'Show', saiken %></td>
    <td><%= link_to 'Edit', edit_customer_saiken_path(@customer, saiken) %></td>
    <td><%= link_to 'Destroy', customer_saiken_url(@customer, saiken), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Saiken', new_customer_saiken_path(@customer) %>

<%= link_to 'Back', customers_path %>