<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @saiken.customer.name %>
</p>

<p>
  <b>Creditor:</b>
  <%= @saiken.creditor.simple_name %>
</p>

<p>
  <b>Wakai gaku:</b>
  <%= @saiken.wakai_gaku %>
</p>


<%= link_to 'Edit', edit_saiken_path(@saiken) %> |
<%= link_to 'Back', saikens_path %>
