<%= form_for(@creditor) do |f| %>
  <% if @creditor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@creditor.errors.count, "error") %> prohibited this creditor from being saved:</h2>

      <ul>
      <% @creditor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :simple_name %><br />
    <%= f.text_field :simple_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
