<h1>Listing creditors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Simple name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @creditors.each do |creditor| %>
  <tr>
    <td><%= creditor.name %></td>
    <td><%= creditor.simple_name %></td>
    <td><%= link_to 'Show', creditor %></td>
    <td><%= link_to 'Edit', edit_creditor_path(creditor) %></td>
    <td><%= link_to 'Destroy', creditor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Creditor', new_creditor_path %>
