<!DOCTYPE html>
<html>
<head>
  <title>Tenzo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <span class="navbar-brand" >Tenzo</span>
  <ul class="nav navbar-nav">
    <li ><%= link_to '顧客一覧', customers_url %></li>
  </ul>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
